@model Invoices.Models.Invoice

@{
    ViewBag.Title = "Details";
}
 
<div class="col-lg-9">
    <div class="body-content"> 
        <div class="row">
            <h2>Details </h2>
            <h4>Invoice @Html.DisplayFor(model => model.InvoiceId) <a class="help" href="#">help <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a> </h4>

        </div>


        <div class="row">
            <hr />
            <table class="table tableInvoiceDetails">
                <tr>
                    <th th width="100">
                        Contractor
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Contractor.FirstName)
                        @Html.DisplayFor(model => model.Contractor.LastName)
                    </td>
                    <th width="100">
                        Issue Date
                    </th>
                    <td width="100">
                        @Html.DisplayFor(model => model.IssueDate)
                    </td>

                </tr>
                <tr>
                    <th></th>
                    <td></td>

                    <th>
                        Due Date
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.DueDate)
                    </td>
                </tr>
            </table>
            <table class="table tableProducts">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>Tax</th>
                        <th>Gross Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        double total = 0;
                    }
                    @foreach (var entry in Model.InvoiceEntries)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => entry.Product.Label)
                            </td>
                            <td>
                                @Html.DisplayFor(model => entry.Product.Description)
                            </td>
                            <td>
                                $
                                @Html.DisplayFor(model => entry.Product.UnitPrice)
                                
                            </td>
                            <td>
                                @Html.DisplayFor(model => entry.Product.Tax)
                                %
                            </td>
                            <td>
                                @{
                                    var gross = entry.Product.UnitPrice + (entry.Product.UnitPrice * entry.Product.Tax / 100);
                                    total += gross * entry.Quantity;
                                }
                                $
                                @gross
                                
                            </td>
                            <td>
                                @Html.DisplayFor(model => entry.Quantity)
                            </td>
                        </tr>
                                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <th>Reconciled</th>
                        <td>$ @Model.Reconciled </td>
                        <td><button class="btn btn-default btnDetails btnInTable">@Html.ActionLink("Reconcile", "Reconsile", new { id = Model.InvoiceId })</button></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <th>Total Bill</th>
                        <td> $ @total   </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <p>
            <button class="btn btn-default btnDetails btnBack"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>@Html.ActionLink("Back to List", "Index")</button>

        </p>

    </div>
</div>

<div class="col-lg-3">
    @{
        Html.RenderPartial("sideMenuDetails");
    }
</div>
 
