<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RevDeBug Invoices</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='@Url.Action("Index", "Invoices")'>
                    <img class="logo" src='@Url.Content("~/Images/InvoicesLogo.png")' />
                </a> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right"> 
                    <li>
                        <a href='@Url.Action("Index", "Home")'>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br />Accounts
                        </a> 
                    </li>
                    <li>
                        <a  href='@Url.Action("Index", "Home")'>
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br />Contacts
                        </a> 
                    </li>
                    <li>
                        <a href='@Url.Action("Index", "Invoices")'>
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span><br />Invoices
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index", "Home")'>
                            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span><br />Payments
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index", "Home")'>
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span><br />About
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @RenderBody()
            
        </div>
    </div>


    <div class="overlay">
       nioh
    </div>

   
    <footer >
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; @DateTime.Now.Year - RevDeBug</p>
                </div>
                <div class="col-lg-6"> 
                </div>
            </div> 
        </div>

    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/invoices.js")
    @RenderSection("scripts", required: false)
</body>
</html>
